div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    10%  {background-color: yellow;}
    20%  {background-color: blue;}
    30% {background-color: green;}
    40%   {background-color: rgb(179, 182, 161);}
    50%  {background-color: rgb(255, 103, 242);}
    80%  {background-color: rgb(255, 0, 140);}
    100% {background-color: rgb(0, 204, 255);}
  }